---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'About Astro'


---

<BaseLayout pageTitle= {pageTitle}>
    <div>
        <h1>About Dow Records</h1>
        <p>About Astro Records, an Astro Sandpit Project</p>
    </div>
</BaseLayout>
