---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'About Astro'


---

<BaseLayout pageTitle= {pageTitle}>
    <p>About Astro Records, an Astro Sandpit Project</p>
</BaseLayout>
