---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Dow Records'

// const response = await fetch('../api/travelStudies');
// const data = await response.json();
// console.log(data);

---

<BaseLayout pageTitle= {pageTitle}>
   
    <div class="hero flex flex-col w-full h-screen ">  
        <div id="heroImage" class="full mx-8 h-[80%] bg-color-pink">
            <img src="/hero.jpg"  class="w-auto h-[100%]"/>
        </div>
       
        <div class="my-4 mx-8 flex justify-end" >
            <h1 class="pb-4">
                Dow Records
            </h1>
        
        </div>
    </div> 
    <div>
      
    </div>


</BaseLayout>
