---

---
<style> 
header{ 
    background-color: #DEB349;

}
 .container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;

 }
 
 nav {
    display: flex;
    gap: 1rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    
    a {
        color: #070707;
        text-decoration: none;
    }
    a:hover {
        color: #50808E;
    }
 }
 .logo {
    color: #070707;
    display: flex;
 }
 .logo:hover {
    color: #50808E;
 }

</style> 

<header>
    <div class="container">
        <a class="logo" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-vinyl-fill" viewBox="0 0 16 16">
                <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4m0 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4 8a4 4 0 1 0 8 0 4 4 0 0 0-8 0"/>
            </svg>
        </a>
        <nav> 
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
    </div>

</header>
